<!doctype html> 

<html>
	<head>
		<title>Project Details: {{ project['name'] }}</title>
	</head>
	<body>
		<table border=1 style='width:100%'>
		<tr><td><center><h1>Mini Mooshak</h1></center>
		<div align=right>Logged in as: {{ name }}<br><a href='/{{ project['id'] }}'>Back</a> - <a href='logout'>Logout</a></div></td></tr>
		<tr><td>
		<h2>{{ project['name'] }}</h2>
		<p>{{  results[0]  }}</p>
		</td></tr>
		<br><h2>Results</h2>
		<table border=1 style='width:100%'>
		{% for entry in results[1:] %}
		<tr  style="vertical-align:top;"><td><h2>Received output:</h2><p>{{ entry[0][0] }}</p></td><td><h2>Expected output:</h2><p>{{ entry[1][0] }}</p></td></tr>
		{% endfor %}
		</table>
	</body>
</html>